apiVersion: v1
kind: Secret
metadata:
  namespace: misp
  name: misp-database-secret
  labels:
    app: misp
type: Opaque
stringData:
  root-db-password: testing123
  misp-db-name: misp
  misp-db-username: misp
  misp-db-password: testing123
